/* -----------------------------------------------
                      Reset
----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------
                      Theme
----------------------------------------------- */
body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.55em;
    text-align: center;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.35em;
    margin: 0.75em 0 0.25em;
}

p {
    font-size: 1.10em;
    line-height: 1.4em;
    text-align: justify;
}

i {
    font-size: 0.8em;
    opacity: 0.8;
}

.grey {
    background-color: #eeeeee;
}

.written {
    font-family: 'Gloria Hallelujah';
    font-weight: bold;
    font-size: 1.17em;
}

/* Button */
button {
    padding: 0.75em;
    background-color: #c6b6aa;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 1.5em auto;
    display: block;
    font-size: 1.10em;
}

button:hover {
    cursor: pointer;
    background-color: #ddcec3;
}

a, button { transition: color 0.25s ease, background-color 0.25s ease }
.centered { text-align: center }

/* Theme background colors */
.bg-darkgreen { background-image: url(../img/darkgreen_bg.png) }
.bg-green { background-image: url(../img/green_bg.png) }
.bg-lightgreen { background-image: url(../img/lightgreen_bg.png) }
.bg-darkbrown { background-image: url(../img/darkbrown_bg.png) }
.bg-brown { background-image: url(../img/brown_bg.png) }
.bg-lightbrown { background-image: url(../img/lightbrown_bg.png) }

/* -----------------------------------------------
                Header / Navigation
----------------------------------------------- */
/* Fixed header */
header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 4em;
    border-bottom: 2px solid #b9c6af;
}

/* Logo placement */
.logo {
    margin: 0.5em 1em;
    width: 3em;
}

.logo img {
    display: block;
    width: 100%;
}

/* Navigation */
.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Mobile nav-bar out of screen */
.nav-bar {
    position: absolute;
    transform: translateY(-100%);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nav-bar li { padding: 1em }

.nav-bar li a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
}

/* Move nav-bar down when active */
.nav-active {
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

/* Burger button */
.nav-button { margin: 1em }

.nav-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Animate burger-button on-click */
.nav-button.btn-active #line1 { transform: rotate(-45deg) translate(-5px,6px) }
.nav-button.btn-active #line2 { opacity: 0 }
.nav-button.btn-active #line3 { transform: rotate(45deg) translate(-5px,-6px) }

/* -----------------------------------------------
                 Hero image / Banner
----------------------------------------------- */

/* Push content below header */
main { margin-top: 4em }

/* Banner + title */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-position: center center;
    background-size: cover;
    height: 275px;
}

.hero h1 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 5px black;
    position: relative;
}

/* Banner images */
.hero.banner-frontpage { background-image: url(../img/banner_forside.JPG) }
.hero.banner-about { background-image: url(../img/banner_omos.JPG) }
.hero.banner-kuld { background-image: url(../img/banner_koebhvalp.JPG) }
.hero.banner-eurasier { background-image: url(../img/banner_omeurasieren.JPG) }
.hero.banner-buypuppy { background-image: url(../img/banner_koebhvalp.JPG) }
.hero.banner-ourdogs { background-image: url(../img/banner_voreshunde.JPG) }

/* -----------------------------------------------
              Polaroid links frontpage
----------------------------------------------- */
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Polaroid */
.card {
    background-color: white;
    margin: 2em 1em 1em 1em;
    padding: 0.75em 0.75em 0.5em;
    box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 25%;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}

.card img {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.card h3 { text-align: center }

/* Sticker */
.card .sticker {
    position: absolute;
    width: 15%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

a.card {
    color: black;
    text-decoration: none;
}

/* -----------------------------------------------
                    Frontpage video
----------------------------------------------- */
/* Video wrapper */
.video-wrapper {
    max-height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Video */
.video {
    width: 100%;
    display: block;
}

/* -----------------------------------------------
                Intro text below video
----------------------------------------------- */
.welcome-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
}

.welcome-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text p { margin-top: 0.5em }
.welcome-text a { color: #ddcec3 }
.welcome-text a:hover { color: white }

/* -----------------------------------------------
               image & text container
----------------------------------------------- */
.card-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

/* Put text aside */
.card-text .card { order: 1 }
.card-text .text-aside { order: 2 }
.text-aside { padding: 0 1em }

.text-aside ul {
    padding-left: 1em;
    font-size: 1.10em;
    line-height: 1.4em;
    text-align: left;
    list-style: none;
}

.text-aside li {
    margin: 1em;
    position: relative;
}

.text-aside li::before{
    content: '';
    position: absolute;
    left: -1.66em;
    top: 0.05em;
    height: 1em;
    width: 1em;
    background-image: url(../img/paw.png);
    background-size: cover;
 }

/* -----------------------------------------------
                Certificate section
----------------------------------------------- */
.certificate-wrapper { padding: 1em }

.certificate-wrapper div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 0;
}

.certificate-wrapper a {
    max-width: 33%;
    margin: 1em;
}

.certificate-wrapper a:last-child { max-width: 66% }
.certificate-wrapper img { width: 100% }

/* -----------------------------------------------
                    Kuld site
----------------------------------------------- */
.kuld-title { display: none }
.kuld-section { padding: 1em }
.kuld-section img { width: 100% }

/* -----------------------------------------------
                    Infographic
----------------------------------------------- */
.infographic-section { padding: 1em }

.infographic-section img {
    display: block;
    margin: 2em auto;
    width: 100%;
}

/* -----------------------------------------------
                    Health icons
----------------------------------------------- */
.micro-text {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.8;
}

.icon-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.icon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon img {
    width: 30%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin: 1em 1em 1em 0;
    background-color: white;
}

.icon p {
    text-align: center;
    width: 30%;
}

.icon a { color: black }
.icon a:hover { color: white }

/* -----------------------------------------------
                    Image slider
----------------------------------------------- */
.dog-description h3, .img-title {
    text-align: center;
}

.img-slider {
    padding: 1em;
    position: relative;
}

.slider-wrapper {
    width: calc(100% - 50px);
    margin: 0 auto;
    overflow: hidden;
}

.img-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.img-container img {
    display: block;
    width: calc(98% / 3);
    margin-right: 1%;
    object-fit: cover;
    max-height: 550px;
}

.img-container img:last-child { margin-right: 0 }

/* Buttons */
.img-slider button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    color: grey;
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse
{
    from {transform: scale(1);}
    to { transform: scale(1.8);}
}

.prev
{
    position: absolute;
    left: 15px;
    top: calc(50% - 15px);
}

.next
{
    position: absolute;
    right: 15px;
    top: calc(50% - 15px);
}

/* -----------------------------------------------
                Barometer section
----------------------------------------------- */
.barometer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.barometer img { width: 80% }

/* -----------------------------------------------
                    Kuld subsite
----------------------------------------------- */
.parent-cards {
    display: flex;
    flex-direction: column;
}

.hvalpe-cards {
    padding: 1em;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

/* -----------------------------------------------
                      Footer
----------------------------------------------- */
footer { margin-top: 3em }
.footer-wrapper { background-color: #6e7f62 }

/* Footer curve */
.curve {
    background-image: url(../img/curve.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 86px;
    background-position: center;
}

/* Footer content */
.footer-content {
    padding: 2em 1em 5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c6b6aa;
}

/* Link color */
.footer-content a { color: #cec6c0 }

/* Footer content elements */
.footer-content div {
    width: calc(100% - 2em);
    margin-bottom: 1em;
}

.footer-content h4 {
    color: #cec6c0;
    font-size: 1.3em;
    margin-bottom: 0.25em;
}

.footer-content address {
    font-size: 1.10em;
    line-height: 1.3em;
    font-style: normal;
}

/* Footer element order */
.address { order: 1 }
.contact { order: 2 }

/* Centered SoMe links */
.some {
    display: flex;
    justify-content: center;
    order: 0;
    font-size: 45px;
}

.some a { margin: 0 0.5em }

/* Icon size */
.some img { width: 48px }



/* -----------------------------------------------
                    Error page
----------------------------------------------- */
.errorpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 1em 0 1em;
}

.errorpage h1 { font-size: 1.75em }
.errorpage p { margin-top: 2em }
.errorpage img { max-width: 80%; margin-top: 4em; }

/* -----------------------------------------------
                Tablet + PC (768px)
----------------------------------------------- */
@media screen and (min-width: 768px) {
    /* Wave elements */
    .wavy { position: relative }
    .no-wave { padding: 7em 0 }

    /* Wavy top background (::before) */
    .wavy.bg-darkgreen::before { background-image: url(../img/darkgreen_top.png) }
    .wavy.bg-green::before { background-image: url(../img/green_top.png) }
    .wavy.bg-lightgreen::before { background-image: url(../img/lightgreen_top.png) }
    .wavy.bg-darkbrown::before { background-image: url(../img/darkbrown_top.png) }
    .wavy.bg-brown::before { background-image: url(../img/brown_top.png) }
    .wavy.bg-lightbrown::before { background-image: url(../img/darkbrown_top.png) }

    /* Wavy bottom background (::after) */
    .wavy.bg-darkgreen::after { background-image: url(../img/darkgreen_bottom.png) }
    .wavy.bg-green::after { background-image: url(../img/green_bottom.png) }
    .wavy.bg-lightgreen::after { background-image: url(../img/lightgreen_bottom.png) }
    .wavy.bg-darkbrown::after { background-image: url(../img/darkbrown_bottom.png) }
    .wavy.bg-brown::after { background-image: url(../img/brown_bottom.png) }
    .wavy.bg-lightbrown::after { background-image: url(../img/darkbrown_bottom.png) }

    /* if a box is wavy, add ::before and ::after elements */
    .wavy::before, .wavy::after {
        content: "";
        width: 100%;
        height: 86px;
        left: 0;
        position: absolute;
        animation: waves 60s infinite linear;
    }

    /* Wave animation */
    @keyframes waves {
        from { background-position-x: 0;}
        to { background-position-x: 1500px;}
    }

    /* Position wave */
    .wavy::before { top: -86px }
    .wavy::after { bottom: -86px }

    /* Header is larger, push content more */
    main { margin-top: 5em }

    /* Theme */
    .hero h1 {
        font-size: 4em;
        font-family: 'Gloria Hallelujah';
    }

    h2 { font-size: 2.2em }

    h3 {
        font-size: 1.75em;
        text-align: left;
    }

    p { line-height: 1.5em }

    /* Navigation */
    header { height: auto }
    .navigation { align-items: center }

    /* Remove burger navigation*/
    .navigation {
        max-width: 1220px;
        margin: 0 auto;
        height: 5em;
    }

    .logo {
        margin: 0.5em 1em;
        align-self: flex-start;
        width: 8em;
        transition: width 0.2s ease-in-out;
    }

    .nav-bar {
        position: initial;
        transform: none;
        flex-direction: row;
        width: auto;
        height: auto;
        text-transform: uppercase;
        font-size: 0.75em;
    }

    .nav-button { display: none }

    /* Add hover effect on nav-links */
    .nav-bar li a:hover { color: #e0dcd9 }

    /* Set height for banner */
    .hero { height: 500px }

    /* Add padding to sections */
    section { padding: 1em 0 }    

    /* Center content at max-width */
    section > .section-content {
        max-width: 1220px;
        margin: 0 auto;
        padding: 2em 0;
    }

    /* Display polaroids on frontpage in a row */
    .card-wrapper { flex-direction: row }

    /* Limit card size and add rotation */
    .card {
        max-width: 25%;
        transform-origin: 50% 0%;
        transform: rotate(1.5deg);
    }

    .card:nth-child(2) { transform: rotate(-1.5deg) }
    .card:nth-child(3) { transform: rotate(2deg) }

    .card-wrapper > .card:hover {
        cursor: pointer;
        box-shadow: 4px 4px 3px 3px rgba(0, 0, 0, 0.3);
        transform: rotate(0deg);
    }

    /* Intro text positioning */
    .welcome-text { flex-direction: row }

    .welcome-text h2 {
        width: 50%;
        display: flex;
        align-items: center;
        font-size: 2.2em;
    }

    .welcome-text div { width: 50% }
    .welcome-text p { padding: 1em }

    /* Barometer size */
    .barometer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .barometer h3 { text-align: center }

    .barometer div {
        width: 35%;
        margin: 1em;
    }

    .barometer img { width: 75% }

    /* Card-text aside */
    .card-text {
        flex-direction: row;
        text-align: center;
        align-items: flex-start;
        padding-bottom: 0;
    }

    .card-text .card:nth-child(2) { order: 3 }

    /* Padding left and right side of text */
    .right-text { padding-left: 2em }
    .left-text { padding-right: 2em }

    /* Certifcate in row */
    .certificate-wrapper {
        text-align: center;
        padding: 0 1em;;
    }
    
    .certificate-wrapper div {
        margin-top: 4em;
        justify-content: space-around;
    }

    .certificate-wrapper p { text-align: center }
    .certificate-wrapper a { width: 10% }
    .certificate-wrapper a:first-child { order: -2 }

    .certificate-wrapper a:last-child {
        order: -1;
        width: 25%;
    }

    /* Kuld-section */
    .kuld-section { display: flex }

    .kuld-section div {
        padding: 0 2em;
        width: 70%;
    }

    .kuld-section .kuld-img-wrapper {
        padding: 0;
        width: 30%;
    }

    /* Kuld site */
    .parent-cards {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .hvalpe-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .hvalpe-cards .card {
        max-width: 20%;
        min-width: 20%;
        transform: none;
    }

    /* Infographic */
    .infographic-section img {
        width: 50%;
        margin: 1em auto 0;
    }

    .inline-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2em 0;
    }

    .inline-list li {
        margin: 0.5em;
        width: 45%;
    }

    /* Icon sizing */
    .icon { width: 25% }

    /* Top and Bottom section no padding */
    .top-elm { padding-top: 0 }
    .bottom-elm { padding-bottom: 0 }

    /* Footer content positioning */
    footer { margin-top: 8em }

    .footer-content {
        max-width: 1220px;
        margin: 0 auto;
        flex-direction: row;
        align-items: stretch;
    }

    .footer-content div {
        width: calc(100% / 3);
        margin-bottom: 0;
        text-align: center;
    }

    .footer-content a:hover { color: white }

    .some {
        order: 3;
        align-items: center;
    }

    .some img { width: 36px }

    /* Link hover color */
    .some a:hover { color: white }

    /* Error page */
    .errorpage h1 { font-size: 2.5em }
    .errorpage img { max-width: 500px }
}

/* -----------------------------------------------
                    PC (1024px)
----------------------------------------------- */
@media screen and (min-width: 1024px) {
    /* Larger font-size in nav-bar on PC */
    .nav-bar {
        font-size: 1em;
    }
}