/* -----------------------------------------------
                      Reset
----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------
                      Theme
----------------------------------------------- */
body {
    font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.written {
    font-family: 'Gloria Hallelujah';
}

/* Theme background colors */
.bg-darkgreen { background-image: url(../img/darkgreen_bg.png) }
.bg-green { background-image: url(../img/green_bg.png) }
.bg-lightgreen { background-image: url(../img/lightgreen_bg.png) }
.bg-darkbrown { background-image: url(../img/darkbrown_bg.png) }
.bg-brown { background-image: url(../img/brown_bg.png) }
.bg-lightbrown { background-image: url(../img/lightbrown_bg.png) }

/* -----------------------------------------------
                Header / Navigation
----------------------------------------------- */

/* Fixed header */
header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 4em;
    border-bottom: 2px solid #b9c6af;
}

/* Logo placement */
.logo {
    margin: 0.5em 1em;
}

.logo img {
    display: block;
    width: 3em;
}


/* Navigation */
.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* Mobile nav-bar out of screen */
.nav-bar {
    position: absolute;
    transform: translateY(-100%);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.nav-bar li {
    padding: 1em;
}

.nav-bar li a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
}

/* Move nav-bar down when active */
.nav-active {
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}


/* Burger button */
.nav-button {
    margin: 1em;
}

.nav-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Animate burger-button on-click */
.nav-button.btn-active #line1 { transform: rotate(-45deg) translate(-5px,6px) }
.nav-button.btn-active #line2 { opacity: 0 }
.nav-button.btn-active #line3 { transform: rotate(45deg) translate(-5px,-6px) }







/* -----------------------------------------------
                 Hero image / Banner
----------------------------------------------- */

/* Push content below header */
main {
    margin-top: 4em;
}

/* Banner + text */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-position: center center ;
    background-size: cover;
    height: 275px;
}

.hero h1 {
    font-size: 3em;
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px black;
    position: relative;
}

/* Banner images */
.hero.banner-frontpage { background-image: url(../img/banner_forside.JPG) }









/* -----------------------------------------------
              Polaroid links frontpage
----------------------------------------------- */

/* Container */
.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Polaroid */
.card {
    background-color: white;
    margin: 2em 1em 1em 1em;
    padding: 0.75em 0.75em 0.5em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    min-width: 25%;
}

.card img {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.card h3 {
    text-align: center;
    /*text-transform: uppercase;*/
}

/* Sticker */
.card .sticker {
    position: absolute;
    width: 15%;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}



/* -----------------------------------------------
                    Frontpage video
----------------------------------------------- */

/* Video wrapper */
.video-wrapper {
    max-height: 550px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Video */
.video {
    width: 100%;
    display: block;
}

/* -----------------------------------------------
                Intro text below video
----------------------------------------------- */
.welcome-text {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
}

.welcome-text h2 {
    text-align: center;
}

.welcome-text div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text p {
    margin-top: 0.5em;
}

.welcome-text button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #c6b6aa;
    outline: none;
    border: none;
    border-radius: 5px;
}

.welcome-text button:hover {
    cursor: pointer;
    background-color: #e0dcd9;
}

/* -----------------------------------------------
                      Footer
----------------------------------------------- */
footer {
    margin-top: 3em;
}

/* Footer curve */
.curve img {
    display: block;
    width: 100%;
}

/* Footer content */
.footer-content {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c6b6aa;
}

/* Link color */
.footer-content a {
    color: #cec6c0;
}

/* Footer content elements */
.footer-content div {
    width: calc(100% - 2em);
    margin-bottom: 1em;
}

.footer-content h4 {
    color: #cec6c0;
    font-size: 1.3em;
    margin-bottom: 0.25em;
}

.footer-content address {
    font-size: 1.10em;
    line-height: 1.15em;
}

/* Footer element order */
.address {
    order: 1;
}

.contact {
    order: 2;
}

/* Centered SoMe links */
.some {
    display: flex;
    justify-content: center;
    order: 0;
}

.some a {
    margin: 1em;
}

/* Icon size */
.some img {
    width: 50px;
}



/* -----------------------------------------------
                    Tablet (768px)
----------------------------------------------- */
@media screen and (min-width: 768px) {
    /* Wave elements */
    .wavy {
        position: relative;
        /*margin: 86px 0;*/
    }

    /* Wavy top background (::before) */
    .wavy.bg-darkgreen::before { background-image: url(../img/darkgreen_top.png) }
    .wavy.bg-green::before { background-image: url(../img/green_top.png) }
    .wavy.bg-lightgreen::before { background-image: url(../img/lightgreen_top.png) }
    .wavy.bg-darkbrown::before { background-image: url(../img/darkbrown_top.png) }
    .wavy.bg-brown::before { background-image: url(../img/brown_top.png) }
    .wavy.bg-lightbrown::before { background-image: url(../img/darkbrown_top.png) }

    /* Wavy bottom background (::after) */
    .wavy.bg-darkgreen::after { background-image: url(../img/darkgreen_bottom.png) }
    .wavy.bg-green::after { background-image: url(../img/green_bottom.png) }
    .wavy.bg-lightgreen::after { background-image: url(../img/lightgreen_bottom.png) }
    .wavy.bg-darkbrown::after { background-image: url(../img/darkbrown_bottom.png) }
    .wavy.bg-brown::after { background-image: url(../img/brown_bottom.png) }
    .wavy.bg-lightbrown::after { background-image: url(../img/darkbrown_bottom.png) }

    /* if a box is wavy, add ::before and ::after elements */
    .wavy::before, .wavy::after {
        content: "";
        width: 100%;
        height: 86px;
        left: 0;
        position: absolute;
    }

    /* Position wave */
    .wavy::before { top: -86px }
    .wavy::after { bottom: -86px }







    /* Remove burger navigation*/
    .navigation {
        max-width: 1220px;
        margin: 0 auto;
    }

    .logo {
        margin: 0.5em 1em;
    }

    .nav-bar {
        position: initial;
        transform: none;
        flex-direction: row;
        width: auto;
        height: auto;
    }

    .nav-button {
        display: none;
    }

    /* Add hover effect on nav-links */
    .nav-bar li a:hover {
        color: #e0dcd9;
    }




    /* Set height for banner */
    .hero {
        height: 550px;
    }

    /* Add padding to sections */
    section {
        padding: 1em 0;
    }

    /* Center content at max-width */
    section > .section-content {
        max-width: 1220px;
        margin: 0 auto;
        padding: 2em 0;
    }

    /* Display polaroids on frontpage in a row */
    .card-wrapper {
        flex-direction: row;
    }

    /* Limit card size and add rotation */
    .card {
        max-width: 25%;
        transform-origin: 50% 0%;
        transform: rotate(2deg);
    }


    /* Intro text positioning */
    .welcome-text {
        flex-direction: row;
    }

    .welcome-text h2 {
        width: 50%;
    }

    .welcome-text div {
        width: 50%;
    }

    .welcome-text p {
        padding: 1em;
    }



    /* Footer content positioning */
    footer {
        margin-top: 8em;
    }

    .footer-content {
        max-width: 1220px;
        margin: 0 auto;
        flex-direction: row;
        align-items: stretch;
    }

    .footer-content div {
        width: calc(100% / 3);
        margin-bottom: 0;
    }

    .some {
        order: 3;
        align-items: center;
    }
}